body {
	margin: 0;
	padding: 0;
	background: #efefef;
}
.box {
	width: 200px;
	height: 200px;
	background: #0e5ba8;
	margin: 20px;
	float: left;
}
.center {
	margin: auto;
}
.positioned {
	background: #5595e8;
	position: absolute;
}
.relPositioned {
	background: #5595e8;
	position: relative;
	top: ;
	right: ;
	left: 200px;
	bottom: 20px;
}
.absPositioned {
	background: #5595e8;
	position: absolute;
	top: ;
	right: ;
	left: 200px;
	bottom: 20px;
}
.fixPositioned {
	background: #5595e8;
	position: fixed;
	top: ;
	right: ;
	left: 200px;
	bottom: 20px;
}
.father {
	background: #2e294e;
	width: 500px;
	height: 500px;
	position: relative;
}
.subbox {
	margin: 0;
	background: #5595e8;
	position: absolute;
	top: ;
	right: 33%;
	left: ;
	bottom: 33%;
}