body {
    font-family: Arial, sans-serif;
}
h1 {
    background-color: red;
    padding: 10px;
    text-align: center;
}
#paddingDiv {
    padding: 10px;
    border: 2px solid black;
    text-align: center;
    width: 100px;
    margin: 20px auto;
    background-color: aqua;
}
#marginContainer {
    padding: 20px;
    background-color: red;
}