* {
	padding: 0;
	margin: 0;
}
body {
	background: #f2f2f2;
	font-family: sans-serif, "Times New Roman";
}
.container {
	width: 1000px;
	background: #ccc;
	margin: 20px auto;
}
header {
	background: #30323d;
	color: #fff;
	padding: 20px;
	text-align: center;

}
.main {
	box-sizing: border-box;
	width: 700px;
	background: #fff;
	padding: 20px;
	float: left;
}
aside {
	box-sizing: border-box;
	background: #e8c547;
	color: #fff;
	padding: 20px;
	width: 300px;
	float: right;
}
footer {
	clear: both;
	background: #4d5061;
	color: #fff;
	padding: 20px;
	text-align: center;
}